apiVersion : apps/v1
kind: Deployment
metadata:
  name: bharadwajnavitasbankingv 
spec:
  replicas: 1
  progressDeadlineSeconds: 120
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: bharadwajnavitasbankingv
  template:
    metadata:
      labels:
        app: bharadwajnavitasbankingv 
    spec:
      containers:
        - name: bharadwajnavitasbankingv 
          image: nttdatainternkubernetesregistry.azurecr.io/bharadwajnavitasbankingv
          ports:
          - containerPort: 80
