apiVersion : apps/v1
kind: Deployment
metadata:
  name: bharadwajnavitasbankingv 
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: bharadwajnavitasbankingv 
    spec:
      containers:
        - name: bharadwajnavitasbankingv 
          image: nttdatainternkubernetesregistry.azurecr.io/bharadwajnavitasbankingv
          ports:
          - containerPort: 80
apiVersion : v1
kind: Service
metadata:
  name: bharadwajnavitasbankingv
spec:
  ports:
    - name: http-port
      port: 80
      targetPort: 80
  selector:
    app: bharadwajnavitasbankingv
  type: LoadBalancer
